Repository Gamegoo-repo/Gamegoo-Server-v2, pull requests merged in 2024-12, with the labels that each got.

#3 [Docs/2] swagger 및 코드 컨벤션 설정
  .editorconfig
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/GamegooV2Application.java
  src/main/java/com/gamegoo/gamegoo_v2/config/SwaggerConfig.java
Labels: :memo: docs

#5 [Feat/4] 공통 응답 및 에러 핸들링 설정
  .github/PULL_REQUEST_TEMPLATE.md
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/HomeController.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/board/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/chat/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/common/ApiResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/ExceptionAdvice.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/GlobalException.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/matching/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/member/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/notification/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/report/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/socket/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/utils/.gitkeep
  src/main/resources/application.properties
  src/main/resources/application.yml
Labels: :sparkles: feature

#9 [Test/8] 테스트 코드 설정 추가
  src/test/java/com/gamegoo/gamegoo_v2/GamegooV2ApplicationTests.java
  src/test/java/com/gamegoo/gamegoo_v2/service/auth/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/board/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/chat/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/manner/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/matching/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/member/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/notification/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/report/.gitkeep
  src/test/resources/application.yml
Labels: ✅ test

#12 [Feat/10] 엔티티 생성 및 연관관계 매핑
  src/main/java/com/gamegoo/gamegoo_v2/auth/domain/EmailVerifyRecord.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/domain/RefreshToken.java
  src/main/java/com/gamegoo/gamegoo_v2/block/domain/Block.java
  src/main/java/com/gamegoo/gamegoo_v2/board/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/board/domain/Board.java
  src/main/java/com/gamegoo/gamegoo_v2/board/domain/BoardGameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/Chat.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/Chatroom.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/MemberChatroom.java
  src/main/java/com/gamegoo/gamegoo_v2/common/BaseDateTimeEntity.java
  src/main/java/com/gamegoo/gamegoo_v2/config/JpaAuditingConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/Friend.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/FriendRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/FriendRequestStatus.java
  src/main/java/com/gamegoo/gamegoo_v2/game/domain/Champion.java
  src/main/java/com/gamegoo/gamegoo_v2/game/domain/GameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/manner/domain/MannerKeyword.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/domain/MannerRating.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/domain/MannerRatingKeyword.java
  src/main/java/com/gamegoo/gamegoo_v2/matching/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/matching/domain/GameMode.java
  src/main/java/com/gamegoo/gamegoo_v2/matching/domain/MatchingRecord.java
  src/main/java/com/gamegoo/gamegoo_v2/matching/domain/MatchingStatus.java
  src/main/java/com/gamegoo/gamegoo_v2/matching/domain/MatchingType.java
  src/main/java/com/gamegoo/gamegoo_v2/member/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/LoginType.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/MemberChampion.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/MemberGameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Tier.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/Notification.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationType.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationTypeTitle.java
  src/main/java/com/gamegoo/gamegoo_v2/report/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/report/domain/Report.java
  src/main/java/com/gamegoo/gamegoo_v2/report/domain/ReportType.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/.gitkeep
Labels: :sparkles: feature

#14 [Feat/13] 임시 로그인을 위한 JWT 검증 인터셉터 및 리졸버 구현
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/HomeController.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/annotation/AuthMember.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/annotation/resolver/AuthMemberArgumentResolver.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/controller/AuthController.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/jwt/JwtInterceptor.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/jwt/JwtProvider.java
  src/main/java/com/gamegoo/gamegoo_v2/common/ApiResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/JwtAuthException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ExceptionAdvice.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/GlobalException.java
  src/main/java/com/gamegoo/gamegoo_v2/member/repository/MemberRepository.java
  src/main/resources/application.yml
Labels: :sparkles: feature

#16 [CICD/11] docker, github action 추가
  .github/workflows/github_actions.yml
  .gitignore
  Dockerfile
  compose.yaml
Labels: :construction_worker: cicd

#17 [Feat/15] 회원 차단 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/block/controller/BlockController.java
  src/main/java/com/gamegoo/gamegoo_v2/block/domain/Block.java
  src/main/java/com/gamegoo/gamegoo_v2/block/repository/BlockRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/MemberValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/BlockException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/MemberException.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/ControllerTestSupport.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/service/auth/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/board/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/chat/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/manner/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/matching/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/member/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/notification/.gitkeep
  src/test/java/com/gamegoo/gamegoo_v2/service/report/.gitkeep
  src/test/resources/application.yml
Labels: :sparkles: feature, ✅ test

#19 [Feat/18] 회원 차단 목록 조회 API 구현 및 테스트
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/auth/controller/AuthController.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/jwt/JwtProvider.java
  src/main/java/com/gamegoo/gamegoo_v2/block/controller/BlockController.java
  src/main/java/com/gamegoo/gamegoo_v2/block/dto/BlockListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/block/repository/BlockRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/annotation/ValidPage.java
  src/main/java/com/gamegoo/gamegoo_v2/common/annotationValidator/ValidPageAnnotationValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/MemberValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/config/SwaggerConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/MemberException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ExceptionAdvice.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/MemberException.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/block/BlockRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#21 [Feat/20] 회원 차단 해제 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/block/controller/BlockController.java
  src/main/java/com/gamegoo/gamegoo_v2/block/domain/Block.java
  src/main/java/com/gamegoo/gamegoo_v2/block/repository/BlockRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#23 [Feat/22] 차단 목록 삭제 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/block/controller/BlockController.java
  src/main/java/com/gamegoo/gamegoo_v2/block/domain/Block.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/block/BlockRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#26 [Feat/24] 친구 요청 전송 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/BlockValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/FriendValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/FriendException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/Friend.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/FriendRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/SendFriendRequestResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRequestRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#28 [Feat/27] 친구 요청 수락 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/FriendRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/FriendRequestResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRequestRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#31 [Feat/29] 친구 요청 거절 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#32 [Feat/30] 친구 요청 취소 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#35 [Feat/33] 친구 즐겨찾기 설정/해제 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/FriendValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/domain/Friend.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/StarFriendResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#38 [Feat/36] 친구 삭제 API 구현 및 테스트, 테스트 코드 리팩토링
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/BlockValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/DeleteFriendResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockQueryServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendRequestServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/block/BlockRepositoryTest.java
Labels: :sparkles: feature, :recycle: refactor, ✅ test

#40 [Feat/39] 친구 목록 조회 API 구현 및 테스트
  .github/workflows/pr_test.yml
  .gitignore
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/annotation/ValidCursor.java
  src/main/java/com/gamegoo/gamegoo_v2/common/annotationValidator/ValidCursorAnnotationValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/config/QuerydslConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ExceptionAdvice.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/FriendListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendQueryServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/block/BlockRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/friend/FriendRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#44 [Feat/37] 이메일 전송 API 구현 및 테스트
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/email/controller/EmailController.java
  src/main/java/com/gamegoo/gamegoo_v2/email/domain/EmailVerifyRecord.java
  src/main/java/com/gamegoo/gamegoo_v2/email/dto/EmailRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/email/repository/EmailVerifyRecordRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailService.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/EmailException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/member/repository/MemberRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/main/java/com/gamegoo/gamegoo_v2/utils/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/utils/EmailTemplateProcessor.java
  src/main/java/com/gamegoo/gamegoo_v2/utils/RandomCodeGeneratorUtil.java
  src/main/resources/application.yml
  src/main/resources/templates/email-template.html
  src/test/java/com/gamegoo/gamegoo_v2/integration/email/EmailFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/email/RandomCodeGeneratorUtilTest.java
  src/test/resources/application.yml
Labels: :sparkles: feature, :recycle: refactor, ✅ test

#46 [Feat/45] 회원용 이메일 인증 API 구현
  src/main/java/com/gamegoo/gamegoo_v2/email/controller/EmailController.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailService.java
Labels: :sparkles: feature

#48 [Test/47] 테스트 에러 수정
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/email/EmailFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/email/RandomCodeGeneratorUtilTest.java
Labels: ✅ test

#42 [Feat/41] 알림 생성 이벤트 및 리스너 구현
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/config/AsyncConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/event/AcceptFriendRequestEvent.java
  src/main/java/com/gamegoo/gamegoo_v2/event/RejectFriendRequestEvent.java
  src/main/java/com/gamegoo/gamegoo_v2/event/SendFriendRequestEvent.java
  src/main/java/com/gamegoo/gamegoo_v2/event/listener/FriendRequestEventListener.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/NotificationException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/domain/MannerKeyword.java
  src/main/java/com/gamegoo/gamegoo_v2/manner/repository/MannerKeywordRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/Notification.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationType.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationTypeTitle.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationTypeRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockQueryFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendRequestFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/service/notification/NotificationServiceTest.java
Labels: :sparkles: feature, ✅ test

#50 :sparkles:[Feat] 인증 코드 검증 API 구현
  .editorconfig
  src/main/java/com/gamegoo/gamegoo_v2/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/email/controller/EmailController.java
  src/main/java/com/gamegoo/gamegoo_v2/email/dto/EmailCodeRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/email/repository/EmailVerifyRecordRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailService.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
Labels: :sparkles: feature

#51 [Feat/43] 소환사명으로 친구 검색 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/FriendInfoResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/FriendListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendQueryFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/friend/FriendRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/unit/RandomCodeGeneratorUtilTest.java
Labels: :sparkles: feature, ✅ test

#54 [Feat/52] 알림 읽음 처리 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/notification/controller/NotificationController.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/Notification.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/dto/ReadNotificationResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/notification/NotificationControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/notification/NotificationFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#56 [Feat/55] 안읽은 알림 개수 조회 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/notification/controller/NotificationController.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/notification/NotificationControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/notification/NotificationFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#58 [Feat/57] 알림 전체/팝업 목록 조회 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/block/dto/BlockListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/controller/NotificationController.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationType.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/domain/NotificationTypeTitle.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/dto/NotificationCursorListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/dto/NotificationPageListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/dto/NotificationResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/repository/NotificationRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/notification/NotificationControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/notification/NotificationFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/notification/NotificationRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#60 [Refactor/59] 친구/차단/알림 도메인 코드 리팩토링
  src/main/java/com/gamegoo/gamegoo_v2/block/controller/BlockController.java
  src/main/java/com/gamegoo/gamegoo_v2/block/domain/Block.java
  src/main/java/com/gamegoo/gamegoo_v2/block/dto/BlockResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/block/repository/BlockRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/block/service/BlockService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/BlockValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/MemberValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/controller/FriendController.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/dto/FriendListResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/repository/FriendRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/friend/service/FriendService.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/notification/service/NotificationService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/block/BlockControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/friend/FriendControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/notification/NotificationControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/block/BlockQueryFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendQueryFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/friend/FriendRequestFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/notification/NotificationFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/block/BlockRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/friend/FriendRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/notification/NotificationRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/service/notification/NotificationServiceTest.java
Labels: :sparkles: feature, :recycle: refactor, ✅ test

#62 [Feat/53] Riot 계정 존재하는지 검증하는 API
  .github/workflows/github_actions.yml
  Dockerfile
  build.gradle
  src/main/java/com/gamegoo/gamegoo_v2/auth/dto/JoinRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthService.java
  src/main/java/com/gamegoo/gamegoo_v2/config/AppConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/RiotException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/riot/controller/RiotController.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotAccountResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotSummonerResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotVerifyExistUserRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotAccountService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotInfoService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotRecordService.java
  src/main/java/com/gamegoo/gamegoo_v2/utils/PasswordUtil.java
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: :sparkles: feature

#65 [Feat/34] 회원가입 API 구현
  src/main/java/com/gamegoo/gamegoo_v2/auth/controller/AuthController.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthService.java
  src/main/java/com/gamegoo/gamegoo_v2/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/game/domain/Champion.java
  src/main/java/com/gamegoo/gamegoo_v2/game/domain/GameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/game/repository/ChampionRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/game/repository/GameStyleRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/MemberChampion.java
  src/main/java/com/gamegoo/gamegoo_v2/member/domain/MemberGameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/member/repository/MemberChampionRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberChampionService.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotAuthResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotInfoResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/RiotMatchResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/dto/TierDetails.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotAuthService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotInfoService.java
  src/main/java/com/gamegoo/gamegoo_v2/riot/service/RiotRecordService.java
  src/main/java/com/gamegoo/gamegoo_v2/scripts/ChampionInitializer.java
  src/main/java/com/gamegoo/gamegoo_v2/scripts/GameStyleInitializer.java
  src/main/resources/static/champion.json
Labels: :sparkles: feature

#68 [Feat/34] CICD github_actions 수정
  .github/workflows/github_actions.yml
Labels: :bug: bug

#69 [Feat/64] 특정 글을 통한 채팅방 시작 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/board/domain/Board.java
  src/main/java/com/gamegoo/gamegoo_v2/board/repository/BoardRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/board/service/BoardService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/SystemMessageType.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/ChatResponseFactory.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/response/EnterChatroomResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/response/SystemFlagResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatCommandService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/BoardException.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/service/chat/ChatCommandServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/unit/factory/ChatResponseFactoryTest.java
Labels: :sparkles: feature, ✅ test

#72 [CICD/71] github action 배포 실패 시 디스코드 연동
  .github/workflows/github_actions.yml
Labels: :construction_worker: cicd

#77 :construction_worker: [CICD] Github Action 실패 해결
  .github/workflows/github_actions.yml
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthFacadeService.java
Labels: :construction_worker: cicd

#78 [Feat/70] 특정 채팅방 입장 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatroomRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/MemberChatroomRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatQueryService.java
  src/main/java/com/gamegoo/gamegoo_v2/common/validator/ChatValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#73 [Feat/67] 내 프로필 조회 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/game/dto/response/ChampionResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/game/dto/response/GameStyleResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/member/dto/response/MyProfileResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberFacadeService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :sparkles: feature, ✅ test

#80 [Fix/74] 이메일 검증 로직 변경
  src/main/java/com/gamegoo/gamegoo_v2/auth/service/AuthFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/email/controller/EmailController.java
  src/main/java/com/gamegoo/gamegoo_v2/email/service/EmailFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/member/service/MemberService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/email/EmailFacadeServiceTest.java
Labels: :bug: bug

#82 [Test/81] 테스트 실패 해결
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :bug: bug

#86 [Test/85] 다른 회원 조회 API 테스트 코드 작성
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: ✅ test, :bug: bug

#83 [Feat/79] 채팅 메시지 등록 API 구현 및 테스트
  .github/workflows/github_actions.yml
  Dockerfile
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/SystemMessageType.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/request/ChatCreateRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/request/SystemFlagRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/dto/response/ChatCreateResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatCommandService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/event/SocketJoinEvent.java
  src/main/java/com/gamegoo/gamegoo_v2/core/event/listener/SocketEventListener.java
  src/main/java/com/gamegoo/gamegoo_v2/core/exception/SocketException.java
  src/main/java/com/gamegoo/gamegoo_v2/core/exception/common/ErrorCode.java
  src/main/java/com/gamegoo/gamegoo_v2/external/socket/.gitkeep
  src/main/java/com/gamegoo/gamegoo_v2/external/socket/SocketService.java
  src/main/resources/application.yml
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/service/chat/ChatCommandServiceTest.java
  src/test/resources/application.yml
Labels: :sparkles: feature, :recycle: refactor, ✅ test

#88 [Feat/87] 프로필 이미지 수정 API
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/JoinRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/dto/request/ProfileImageRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberService.java
  src/main/resources/application.yml
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :sparkles: feature, ✅ test

#90 [Feat/89] 마이크 여부 수정 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/account/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/dto/request/IsMikeRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :sparkles: feature, ✅ test

#92 [Feat/91] 포지션 변경 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/account/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/dto/request/PositionRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :sparkles: feature, ✅ test

#93 [Feat/84] 특정 채팅방의 메시지 내역 조회 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/domain/Chat.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatQueryService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/chat/ChatRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#96 [Feat/94] 안읽은 채팅방 UUID 조회 API 구현
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatroomRepositoryCustom.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatroomRepositoryCustomImpl.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatQueryService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/common/validator/ChatValidator.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/chat/ChatRepositoryTest.java
  src/test/java/com/gamegoo/gamegoo_v2/repository/chat/ChatroomRepositoryTest.java
Labels: :sparkles: feature, ✅ test

#98 [Feat/97] 채팅방 읽음 처리 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/repository/ChatRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatQueryService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/common/validator/BaseValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/core/common/validator/ChatValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/core/common/validator/MemberValidator.java
  src/main/java/com/gamegoo/gamegoo_v2/core/exception/common/ErrorCode.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
Labels: :sparkles: feature, :recycle: refactor, ✅ test

#100 [Feat/99] 특정 채팅방 나가기 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/chat/controller/ChatController.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatCommandService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/test/java/com/gamegoo/gamegoo_v2/controller/chat/ChatControllerTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#102 [Feat/95] 비밀번호 변경 JWT X API 및 테스트 구현
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/controller/PasswordController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/PasswordRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/PasswordFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/PasswordService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/domain/Member.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/repository/MemberRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberService.java
  src/main/java/com/gamegoo/gamegoo_v2/chat/service/ChatFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/core/event/listener/FriendRequestEventListener.java
  src/main/java/com/gamegoo/gamegoo_v2/social/block/service/BlockFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/social/friend/service/FriendFacadeService.java
  src/main/resources/application.yml
  src/test/java/com/gamegoo/gamegoo_v2/integration/auth/PasswordFacadeServiceTest.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/chat/ChatFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#107 [Feat/103] 비밀번호 확인 API 구현 및 테스트
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/controller/AuthController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/controller/PasswordController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/request/JoinRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/request/PasswordCheckRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/request/PasswordResetRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/request/PasswordResetWithVerifyRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/response/PasswordCheckResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/AuthFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/PasswordFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/PasswordService.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/auth/PasswordFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test

#109 [Feat/108] 게임스타일 수정 API 및 테스트 구현
  src/main/java/com/gamegoo/gamegoo_v2/account/member/controller/MemberController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/domain/MemberGameStyle.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/dto/request/GameStyleRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/repository/MemberGameStyleRepository.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/member/service/MemberService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/exception/common/ErrorCode.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/member/MemberServiceFacadeTest.java
Labels: :sparkles: feature, ✅ test

#112 [Feat/111] 로그인 API 및 테스트 구현
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/controller/AuthController.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/request/LoginRequest.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/dto/response/LoginResponse.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/AuthFacadeService.java
  src/main/java/com/gamegoo/gamegoo_v2/account/auth/service/AuthService.java
  src/main/java/com/gamegoo/gamegoo_v2/core/config/WebConfig.java
  src/main/java/com/gamegoo/gamegoo_v2/core/exception/common/ErrorCode.java
  src/test/java/com/gamegoo/gamegoo_v2/integration/auth/AuthFacadeServiceTest.java
Labels: :sparkles: feature, ✅ test
